In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
test = pd.read_csv('test.csv')
test = test.sort_index()

In [4]:
test

        月份   水果     数量   单价      金额
0   201801   苹果   65.0  2.3   149.5
1   201802   苹果  101.0  2.3   232.3
2   201803   苹果  113.0  2.5   282.5
3   201804   苹果  145.0  2.5   362.5
4   201805   苹果  145.0  2.5   362.5
5   201806   苹果  167.0  2.8   467.6
6   201807   苹果  203.0  2.8   568.4
7   201808   苹果  255.0  2.9   739.5
8   201801   香蕉  180.0  3.5   630.0
9   201802   香蕉  201.0  3.5   703.5
10  201803   香蕉    NaN  3.5   780.5
11  201804   香蕉  254.0  3.9   990.6
12  201805   香蕉  267.0  3.9  1041.3
13  201806   香蕉  213.0  4.4   937.2
14  201807   香蕉  280.0  4.4  1232.0
15  201808   香蕉  310.0  4.4  1364.0
16  201801   西瓜  400.0  3.8  1520.0
17  201802  NaN  450.0  3.8  1710.0
18  201803   西瓜  481.0  3.5  1683.5
19  201804   西瓜  495.0  NaN  1732.5
20  201805   西瓜  580.0  3.2  1856.0
21  201806   西瓜  610.0  3.2  1952.0
22  201807   西瓜  688.0  2.5     NaN
23  201808   西瓜  753.0  1.8  1355.4

In [5]:
# 交叉表用于寻找两列数据之间的关系
# count = pd.crosstab() # 括号里面添加相应的比较列

In [6]:
# 透视表
# test.plot(kind='bar', stacked=True)
# plt.show()

In [ ]:
# 透视表
# test.pivot_table() # 添加相应参数